# What is Pandas?
It's a very helpful python package for data analysis. It makes you use data in python in a tabular form. 
It brings two new datatypes to python: 

1. Series
2. Data Frame

![](static/pandas.jpg)

## Installing python packages

If you attended the installation party pandas should be already installed on your computer. 
The recommended way to install packages in python is using 'pip'.

If you need to install it: 

** command-line ** 

```
pip3 install pandas 

```

## Using python packages 

To use a python package in your notebook or python script, you import it. 
That's as easy as ```import pandas ```. 

Programmers are lazy people, so they like to use short version of everything, because they don't wont to type to much. Thats why pandas is most often imported like this:

In [1]:
import pandas as pd

If you do it like this, you can later write ``` pd.do_something() ``` instead of ``` pandas.do_something() ```.

##  Lists and dictionarys and series

In [1]:
# Lists can contain strings, integer, floats and even other lists
empty_list = []
my_list = [1, [4,5.0], 'love']
my_list

[1, [4, 5.0], 'love']

In [14]:
# Turn a list into a series 
some_numbers = [2, 5, 7, 3]
ind= ['a', 'b', 'c', 'd']

series_1 = pd.Series(some_numbers, index=ind)
series_1

a    2
b    5
c    7
d    3
dtype: int64

So a series is a table with an index and only one column.

In [2]:
# A dictionary can store key-value pairs
empty_dict = {}
numbers = {'Philipp': 6598489, 'Martha': 801920, 'Lisa': 258789 }
numbers

{'Lisa': 258789, 'Martha': 801920, 'Philipp': 6598489}

In [3]:
# Series can also be build from dictionarys and you can store different datatypes in the values. 
more_numbers = {'a': 9, 'b': 'eight', 'c': 7.5, 'd': 6}

series_3 = pd.Series(more_numbers)
series_3

NameError: name 'pd' is not defined

## Tipp

> As in the command line you can use the up arrow ⬆️ to get some suggestions. This can save you a lot of typing.  

> Jupyter notebook makes it easier to print something out. In pure python you would have to use ``` print(variable) ``` in juyter notebook you just write the variable you want to print out at the end of the cell and it gets printed out.

In [4]:
# Like this: 
series_3

a        9
b    eight
c      7.5
d        6
dtype: object

## Data Frame
A data frame is a data table as you know it, with an index, a header and rows and columns.

In [15]:
# You make data frames from two series
brand_new_df = pd.DataFrame([series_1, series_3])
brand_new_df

   a      b    c  d
0  2      5  7.0  3
1  9  eight  7.5  6

In [16]:
# As you can see there are diffrent datatypes stored in it 
brand_new_df.dtypes

a      int64
b     object
c    float64
d      int64
dtype: object

# Let's go get some real data