In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline

# Frauen in Freiburg

[Open Data Portal Freiburg](https://fritz.freiburg.de:8443/Informationsportal/configurator?scenario=OpenData) 

- Search for 'Frauen' 
- I downloaded the file and saved it to /data

In [2]:
# Hint: You can find a ducumentation of python and pandas functions if you put a '?' at the end of it and then run 
# the cell. You can close this via the 'x' in the upper right corner. 
pd.read_csv?

In [3]:
df = pd.read_csv('data/de-bw-freiburg-jahrbuch_bevoelkerung_frauen_im_gebaerfaehigen_alter_und_geburten_in_freiburg_seit_1975.csv', encoding='iso-8859-1', sep=';')

In [4]:
df.head()

,Jahr,Zahl der deutschen Frauen,Geburten von deutschen Frauen,Geburten auf 1000 deutsche Frauen,Zahl der ausländischen Frauen,Geburten von ausländischen Frauen,Geburten auf 1000 ausländische Frauen,Geburten auf 1000 Freiburgerinnen
0,1975,41224,1255,30,3497,162,46,32
1,1976,41250,1292,31,3501,162,46,32
2,1977,41325,1319,32,3509,170,48,33
3,1978,41353,1301,31,3506,156,45,32
4,1979,41397,1299,31,3496,148,42,32

## YOU DO IT

## Compare births of german to foreign woman - absolute values

In [5]:
# Use only the columns you need for this

In [6]:
# set year as index

In [7]:
# In pandas df.plot() displays a line chart, this is good for chronological data 
# To make it more readable and prettier you can use this arguments like this  
# df.plot(figsize=(17,10), title='Zahl der Frauen im Vergleich', fontsize=15)11

In [8]:
# If you want to learn more about df.plot() use df.plot?

### Compare births - ratio

In [9]:
# Instead of the absolute value you can cmpare the ratio like 'briths per 1000'
# Make a new dataframe to compare this and then plot it

In [10]:
# Make a dataframe with the columns you need

In [11]:
# Use year as index

In [12]:
# Plot it

### Make a plot for births of all 'Freiburgerinnen'

In [13]:
# Make a dataframe with the columns you need

In [14]:
# Look at it

In [15]:
# Use year as index

In [16]:
# Look at it

In [17]:
# Plot it