In [7]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd
import re

https://chrisalbon.com/python/beautiful_soup_scrape_table.html

In this notebook I'll show you how to scrape this table: 
    "http://www1.wdr.de/nachrichten/landespolitik/landtagswahl/wss-kriminalitaet-barrierefrei-104.html"

Requests is a python package, to get data from a url into python

In [21]:
r = requests.get("http://www.freiburg.de/pb/,Lde,(anker304899)/207903.html#anker304899")

In [22]:
r

[BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/)

In [23]:
soup = BeautifulSoup(r.text, 'lxml')

In [24]:
soup.table

<table class="hide-grid" id="grid_304900" style="width:80%">
<tbody>
<tr>
<td>1120</td>
<td>Marktgründung durch Konrad v. Zähringen</td>
</tr>
<tr>
<td> um 1200<br/> </td>
<td> Baubeginn am Münster (Schlussweihe 1513) <br/> </td>
</tr>
<tr>
<td> 1238<br/> </td>
<td> Erste Erwähnung der Bächle<br/> </td>
</tr>
<tr>
<td> 1258<br/> </td>
<td> Die Hosanna, die älteste Glocke wird gegossen (noch heute im Münstergeläute)</td>
</tr>
<tr>
<td> 1368<br/> </td>
<td> Freiburg wird habsburgisch<br/> </td>
</tr>
<tr>
<td> 1457<br/> </td>
<td> Gründung der Universität<br/> </td>
</tr>
<tr>
<td> 1498<br/> </td>
<td> Reichstag unter Kaiser Maximilian<br/> </td>
</tr>
<tr>
<td> 1677-1697<br/> </td>
<td> Freiburg ist französische Festung<br/> </td>
</tr>
<tr>
<td> 1770<br/> </td>
<td> Brautfahrt Marie-Antoinettes durch Freiburg<br/> </td>
</tr>
<tr>
<td> 1806 <br/> </td>
<td> Freiburg wird Teil des Großherzogstums Baden<br/>   (bis 1918) (Preßburger Frieden) <br/> </td>
</tr>
<tr>
<td> 1845<br/> </td>
<td> Die Bahnlinie Freiburg-Offenburg wird in Betrieb genommen<br/> </td>
</tr>
<tr>
<td> 1946-1952<br/> </td>
<td> Regierungssitz des Landes Baden    <br/> </td>
</tr>
<tr>
<td> seit 1952<br/> </td>
<td> Sitz des Regierungspräsidiums Freiburg<br/> </td>
</tr>
</tbody>
</table>

If you sort this output nicely, you get:

<div class="table">
    <table class="thleft"><caption>Bekannt gewordene Fälle in NRW</caption>
        <thead>
            <tr class="headlines">
                <th class="entry">Jahr</th>
                <th class="entry">Bekannt gewordene Fälle</th>
            </tr>
        </thead>
        
        <tbody>
                    <tr class="data"><td class="entry">2005</td><td class="entry">1.503.451</td></tr>
                    <tr class="data"><td class="entry">2006</td><td class="entry">1.491.897</td></tr>
                    <tr class="data"><td class="entry">2007</td><td class="entry">1.495.333</td></tr>
                    <tr class="data"><td class="entry">2008</td><td class="entry">1.453.203</td></tr>
                    <tr class="data"><td class="entry">2009</td><td class="entry">1.458.438</td></tr>
                    <tr class="data"><td class="entry">2010</td><td class="entry">1.442.801</td></tr>
                    <tr class="data"><td class="entry">2011</td><td class="entry">1.511.469</td></tr>
                    <tr class="data"><td class="entry">2012</td><td class="entry">1.518.363</td></tr>
                    <tr class="data"><td class="entry">2013</td><td class="entry">1.484.943</td></tr>
                    <tr class="data"><td class="entry">2014</td><td class="entry">1.501.125</td></tr>
                    <tr class="data"><td class="entry">2015</td><td class="entry">1.517.448</td></tr>
                    <tr class="data"><td class="entry">2016</td><td class="entry">1.469.426</td></tr>
        </tbody>
    </table>
</div>

https://tutorial.djangogirls.org/en/html/

## What is HTML?

HTML is a simple code that is interpreted by your web browser – such as Chrome, Firefox or Safari – to display a web page for the user.

HTML stands for "HyperText Markup Language". HyperText means it's a type of text that supports hyperlinks between pages. Markup means we have taken a document and marked it up with code to tell something (in this case, a browser) how to interpret the page. HTML code is built with tags, each one starting with < and ending with >. These tags represent markup elements.

HTML ist not our topic today. If you want to get into it, this is a good start:  
https://www.w3schools.com/

https://www.w3schools.com/html/html_tables.asp

```
An HTML table is defined with the <table> tag.
Each table row is defined with the <tr> tag. 
A table header is defined with the <th> tag. 
By default, table headings are bold and centered. A table data/cell is defined with the <td> tag.
```

## You do it 
https://www.w3schools.com/html/tryit.asp?filename=tryhtml_table_intro

Please open the link and change one data cell and a table header

## Scrape it

In [30]:
# Create empty lists to store the scraped data in
jahr = []
fälle = []

In [35]:
# Create an object of the first object that is class=tabele
table = soup.find(class_='hide-grid')

In [36]:
table

<table class="hide-grid" id="grid_304900" style="width:80%">
<tbody>
<tr>
<td>1120</td>
<td>Marktgründung durch Konrad v. Zähringen</td>
</tr>
<tr>
<td> um 1200<br/> </td>
<td> Baubeginn am Münster (Schlussweihe 1513) <br/> </td>
</tr>
<tr>
<td> 1238<br/> </td>
<td> Erste Erwähnung der Bächle<br/> </td>
</tr>
<tr>
<td> 1258<br/> </td>
<td> Die Hosanna, die älteste Glocke wird gegossen (noch heute im Münstergeläute)</td>
</tr>
<tr>
<td> 1368<br/> </td>
<td> Freiburg wird habsburgisch<br/> </td>
</tr>
<tr>
<td> 1457<br/> </td>
<td> Gründung der Universität<br/> </td>
</tr>
<tr>
<td> 1498<br/> </td>
<td> Reichstag unter Kaiser Maximilian<br/> </td>
</tr>
<tr>
<td> 1677-1697<br/> </td>
<td> Freiburg ist französische Festung<br/> </td>
</tr>
<tr>
<td> 1770<br/> </td>
<td> Brautfahrt Marie-Antoinettes durch Freiburg<br/> </td>
</tr>
<tr>
<td> 1806 <br/> </td>
<td> Freiburg wird Teil des Großherzogstums Baden<br/>   (bis 1918) (Preßburger Frieden) <br/> </td>
</tr>
<tr>
<td> 1845<br/> </td>
<td> Die Bahnlinie Freiburg-Offenburg wird in Betrieb genommen<br/> </td>
</tr>
<tr>
<td> 1946-1952<br/> </td>
<td> Regierungssitz des Landes Baden    <br/> </td>
</tr>
<tr>
<td> seit 1952<br/> </td>
<td> Sitz des Regierungspräsidiums Freiburg<br/> </td>
</tr>
</tbody>
</table>

In [37]:
for row in table.find_all('tr')[1:]:
    print(row)

<tr>
<td> um 1200<br/> </td>
<td> Baubeginn am Münster (Schlussweihe 1513) <br/> </td>
</tr>
<tr>
<td> 1238<br/> </td>
<td> Erste Erwähnung der Bächle<br/> </td>
</tr>
<tr>
<td> 1258<br/> </td>
<td> Die Hosanna, die älteste Glocke wird gegossen (noch heute im Münstergeläute)</td>
</tr>
<tr>
<td> 1368<br/> </td>
<td> Freiburg wird habsburgisch<br/> </td>
</tr>
<tr>
<td> 1457<br/> </td>
<td> Gründung der Universität<br/> </td>
</tr>
<tr>
<td> 1498<br/> </td>
<td> Reichstag unter Kaiser Maximilian<br/> </td>
</tr>
<tr>
<td> 1677-1697<br/> </td>
<td> Freiburg ist französische Festung<br/> </td>
</tr>
<tr>
<td> 1770<br/> </td>
<td> Brautfahrt Marie-Antoinettes durch Freiburg<br/> </td>
</tr>
<tr>
<td> 1806 <br/> </td>
<td> Freiburg wird Teil des Großherzogstums Baden<br/>   (bis 1918) (Preßburger Frieden) <br/> </td>
</tr>
<tr>
<td> 1845<br/> </td>
<td> Die Bahnlinie Freiburg-Offenburg wird in Betrieb genommen<br/> </td>
</tr>
<tr>
<td> 1946-1952<br/> </td>
<td> Regierungssitz des Landes Baden    <br/> </td>
</tr>
<tr>
<td> seit 1952<br/> </td>
<td> Sitz des Regierungspräsidiums Freiburg<br/> </td>
</tr>

In [38]:
for row in table.find_all('tr')[1:]:
    col = row.find_all('td')
    print(col)

[<td> um 1200<br/> </td>, <td> Baubeginn am Münster (Schlussweihe 1513) <br/> </td>]
[<td> 1238<br/> </td>, <td> Erste Erwähnung der Bächle<br/> </td>]
[<td> 1258<br/> </td>, <td> Die Hosanna, die älteste Glocke wird gegossen (noch heute im Münstergeläute)</td>]
[<td> 1368<br/> </td>, <td> Freiburg wird habsburgisch<br/> </td>]
[<td> 1457<br/> </td>, <td> Gründung der Universität<br/> </td>]
[<td> 1498<br/> </td>, <td> Reichstag unter Kaiser Maximilian<br/> </td>]
[<td> 1677-1697<br/> </td>, <td> Freiburg ist französische Festung<br/> </td>]
[<td> 1770<br/> </td>, <td> Brautfahrt Marie-Antoinettes durch Freiburg<br/> </td>]
[<td> 1806 <br/> </td>, <td> Freiburg wird Teil des Großherzogstums Baden<br/>   (bis 1918) (Preßburger Frieden) <br/> </td>]
[<td> 1845<br/> </td>, <td> Die Bahnlinie Freiburg-Offenburg wird in Betrieb genommen<br/> </td>]
[<td> 1946-1952<br/> </td>, <td> Regierungssitz des Landes Baden    <br/> </td>]
[<td> seit 1952<br/> </td>, <td> Sitz des Regierungspräsidiums Freiburg<br/> </td>]

In [39]:
for row in table.find_all('tr')[1:]:
    col = row.find_all('td')
    column_1 = col[0].string.strip()
    print(column_1)

AttributeError: 'NoneType' object has no attribute 'strip'

In [40]:
# Find all the <tr> tag pairs, skip the first one, then for each.
for row in table.find_all('tr')[1:]:
    # Create a variable of all the <td> tag pairs in each <tr> tag pair,
    col = row.find_all('td')

    # Create a variable of the string inside 1st <td> tag pair,
    column_1 = col[0].string.strip()
    # and append it to first_name variable
    jahr.append(column_1)
    
    # Create a variable of the string inside 2nd <td> tag pair,
    column_2 = col[1].string.strip()
    # and append it to last_name variable
    fälle.append(column_2)

AttributeError: 'NoneType' object has no attribute 'strip'

In [19]:
# Create a variable of the value of the columns
columns = {'jahr': jahr, 'fälle': fälle}

# Create a dataframe from the columns variable
df = pd.DataFrame(columns, columns=['jahr', 'fälle'])

In [41]:
df

    jahr      fälle
0   2005  1.503.451
1   2006  1.491.897
2   2007  1.495.333
3   2008  1.453.203
4   2009  1.458.438
5   2010  1.442.801
6   2011  1.511.469
7   2012  1.518.363
8   2013  1.484.943
9   2014  1.501.125
10  2015  1.517.448
11  2016  1.469.426

## You do it 

Please scrape this table:  

http://www1.wdr.de/nachrichten/landespolitik/landtagswahl/wss-kinderarmut-barrierefrei-100.html